:root{
    --cafe:#5b281d;
    --colorcuadros:#FEF8E7;
    --colorgeneral:#FFFAF4;
    --naranja:orange ;
}

*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}

body {
    
    font-family: 'Open Sans', sans-serif;
    background: var(--colorgeneral);
}
a {
    text-decoration: none;
}
.color {
    background:var(--colorcuadros);
}
.naranja {
    color: var(--naranja);   
}
.bnaranja {
    background: var(--naranja);   
}
.bordenaranja {
    border: solid 1px var(--naranja);
}
.padre {
    display: flex;
    flex-flow: column nowrap
}
.hovernaranja:hover{
    color: orange;   
}
.bhovernaranja:hover{
    background-color: var(--naranja);
    color: white;
}
.hovercafe:hover{
    background-color: var(--cafe);   
}
.hoverrojo:hover{
   background: rgb(255, 0, 0);   
}
.textwhite:hover{
    color: white;
}
.abril{
    font-family: 'Abril Fatface', cursive;
}
.simoneta{
    font-family: 'Simonetta', cursive;
}
.footer {
    display: grid;
    font-size: 10px;
    background: orange;
    color: white;
    padding: 40px;
}
    .navfooter a{
        color: var(--cafe);
        font-size: 40px;
        padding:1px 10px 1px 10px;
    }
    .navfooter a:hover{
        color: white;
    }


/* MEDIA  */
        