:root{
    --cafe:#5b281d;
    --colorcuadros:#fff5d8;
    --colorgeneral:#FFFAF4;
    --naranja:orange ;
}

*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
.padre {
    display: flex;
    flex-flow: column nowrap
}
a {
    text-decoration: none;
}
/* COLORES */

.naranja {
    color: var(--naranja);   
}

.actnaranja:active{
    color: orange;   
}
.focnaranja:focus{
    color: orange;   
}
.cafe {
    color: var(--cafe);
}
.hoverwhite:hover{
    color: white;
}
.hovernaranja:hover{
    color: var(--naranja);   
}


/* FUENTES */
.abril{
    font-family: 'Abril Fatface', cursive;
}
.simoneta{
    font-family: 'Simonetta', cursive;
}
.poppins{
    font-family: 'Poppins', cursive;
}
.notosans{
    font-family: "Noto Sans", sans-serif;
}
/* FOOTER */

.footer {
    display: grid;
    font-size: 10px;
    background: orange;
    color: white;
    padding: 40px;
}
    .navfooter a{
        color: var(--cafe);
        font-size: 40px;
        padding:1px 10px 1px 10px;
    }
    .navfooter a:hover{
        color: white;
    }
/* ANIMACIONES */
.icon:hover{
    opacity: 0.8;
}
.zoomhover3:hover {
    transform: scale(1.3);
}
.zoomhover2:hover {
    transform: scale(1.2);
}
.zoomhover:hover {
    transform: scale(1.1);
}
.giroi:hover{
    transform: rotate(-4deg);
}
.containerzoom{
    transition: all 500ms;
}

/* BORDERS */
.bordenaranja {
    border: solid 1px var(--naranja);
}
.bordecafe {
    border-bottom: solid 1px var(--cafe);
}
.bordecafe2 {
    border-bottom: solid 2px var(--cafe);
}

/*  BG COLORES*/
.bg-foto{
    background: url(../IMG/index/2carrusel.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.bg-fotoa{
    background: url(../IMG/index/pan.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.color {
    background:var(--colorcuadros);
}
.bnaranja {
    background: var(--naranja);   
}

.cfacebook{
    background: rgb(50, 80, 142);
}
.ctwitter{
    background: rgb(85, 172, 238);
}
.bnaranjahover:hover {
    background: var(--naranja);   
}
.bhovernaranja:hover{
    background-color: var(--naranja);
    color: white;
}
.hovercafe:hover{
    background-color: var(--cafe);   
    color: white;
}
.hoverrojo:hover{
   background: rgb(255, 0, 0);   
}   
.cc{
    background-color: var(--colorgeneral);
}    

