:root{
    --cafe:#5b281d;
    --colorcuadros:#FEF8E7;
    --colorgeneral:#FFFAF4;
    --naranja:orange ;
}

*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}

.color {
    background:var(--colorcuadros);
}
.naranja {
    color: var(--naranja);   
}
.bnaranja {
    background: var(--naranja);   
}
.bordenaranja {
    border: solid 1px var(--naranja);
}
.padre {
    display: flex;
    flex-flow: column nowrap
}
.hovernaranja:hover{
    color: orange;   
}
.bhovernaranja:hover{
    background-color: var(--naranja);
    color: white;
}
.hovercafe:hover{
    background-color: var(--cafe);   
}
.hoverrojo:hover{
   background: rgb(255, 0, 0);   
}
.textwhite:hover{
    color: white;
}
/* FUENTES */
.abril{
    font-family: 'Abril Fatface', cursive;
}
.simoneta{
    font-family: 'Simonetta', cursive;
}
.poppins{
    font-family: 'Poppins', cursive;
}
.cafe {
    color: var(--cafe);
}
.footer {
    display: grid;
    font-size: 10px;
    background: orange;
    color: white;
    padding: 40px;
}
    .navfooter a{
        color: var(--cafe);
        font-size: 40px;
        padding:1px 10px 1px 10px;
    }
    .navfooter a:hover{
        color: white;
    }

    
    .containerpassword{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 300px;
        background-color: white;
        position: relative;
        box-shadow: 3px 3px 3px rgb(0 0 0 / 5%);
    }
    
    .passw{
        outline: none;
        width: 100%;
        background-color: white;
        color: #121212;
        border: none;
        position: absolute;
        top: 8px;
        left: 0;
        right: 0;
        bottom: 8px;
        padding-left: .5rem;
        box-sizing: border-box;
        font-size: 20px;
    }
    
    .icon{
        position: absolute;
        height: 60%;
        position: absolute;
        top: 50%;
        right: 8px;
        transform: translateY(-50%);
        opacity: 0.3;
        cursor: pointer;
    }
    
    .icon:hover{
        opacity: 0.8;
    }


/* MEDIA  */
        